<?xml version="1.0"?>
        <config>
            <modules>
                <Magento_Slide>
                    <version>1.0.0</version>
                </Magento_Slide>
            </modules>
            <frontend>
                <routers>
                    <slide>
                        <use>standard</use>
                        <args>
                            <module>Magento_Slide</module>
                            <frontName>slide</frontName>
                        </args>
                    </slide>
                </routers>
                <layout>
                    <updates>
                        <slide>
                            <file>slide.xml</file>
                        </slide>
                    </updates>
                </layout>
            </frontend>
            <global>
                <helpers>
                    <slide>
                        <class>Magento_Slide_Helper</class>
                    </slide>
                </helpers>
                <blocks>
                    <slide>
                        <class>Magento_Slide_Block</class>
                    </slide>
                </blocks>
                <models>
                    <slide>
                        <class>Magento_Slide_Model</class>
                        <resourceModel>slide_resource</resourceModel>
                    </slide>
                    <slide_resource>
                        <class>Magento_Slide_Model_Resource</class>
                        <entities>
                            <slide>
                                <table>slide</table>
                            </slide>
                        </entities>
                    </slide_resource>
                </models>
                <resources>
                    <slide_setup>
                        <setup>
                            <module>Magento_Slide</module>
                            <class>Mage_Catalog_Model_Resource_Setup</class>
                        </setup>
                    </slide_setup>
                    <slide_read>
                        <connection>
                            <use>core_read</use>
                        </connection>
                    </slide_read>
                    <slide_write>
                        <connection>
                            <use>core_write</use>
                        </connection>
                    </slide_write>
                </resources>
            </global>
            <admin>
                <routers>
                    <slide>
                        <use>admin</use>
                        <args>
                            <module>Magento_Slide</module>
                            <frontName>slide</frontName>
                        </args>
                    </slide>
                </routers>
            </admin>
            <adminhtml>
                <menu>
                    <slide module="slide">
                        <title>Slide</title>
                        <sort_order>100</sort_order>
                        <children>
                            <slide module="slide">
                                <title>Manage Slide</title>
                                <sort_order>0</sort_order>
                                <action>slide/adminhtml_slide</action>
                            </slide>
                        </children>
                    </slide>
                </menu>
                <acl>
                    <resouces>
                        <all>
                            <title>Allow Everything</title>
                        </all>
                        <admin>
                            <children>
                                <slide translate="title" module="slide">
                                    <title>Slide</title>
                                    <sort_order>1000</sort_order>
                                </slide>
                            </children>
                            <slide translate="title">
                                <title>Manage Slide</title>
                                <sort_order>0</sort_order>
                            </slide>
                        </admin>
                    </resouces>
                </acl>
                <layout>
                    <updates>
                        <magento_slide>
                            <file>slide.xml</file>
                        </magento_slide>
                    </updates>
                </layout>
            </adminhtml>
            <default>
                <generalsetting>
                    <slidegroup>
                        <enable>1</enable>
                    </slidegroup>
                </generalsetting>
            </default>
        </config>